.main div {
	clear: none;
}

.second-test {
	border-style: double;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 2.25em;
	text-align: center;
	margin: auto;
	width: 40%;
}

.input {
	height: 4rem;
	font-size: 0.75em;
}

.hinweis {
	font-size: 0.8em;
	color: Coral;
}

.button {
	width: 10rem;
	height: 5rem;
	font-size: 0.8em;
}

.danke {
	color: green;
	font-size: 1em;
	border-style: solid;
	float: left; 
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.h2 {
	color: white; 
	background-color: CornflowerBlue;
	font-size: 5em;
	float: center;
	clear: none;
	border-style: double;
	text-align: center;
}

.footer {
	text-align: center;
	border-style: double;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: auto;
	width: 40%;
}
